@model TCC_ALCINDO.Models.Cliente

@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris lacinia in velit ac ultricies. Phasellus eget dolor ac enim cursus gravida sit amet eget tellus. Praesent lorem nibh, pellentesque a dolor sit amet, aliquet egestas risus. Vestibulum ex sem, vehicula id augue non, tempus blandit massa. Ut non ligula rutrum, commodo eros sit amet, hendrerit lectus. Nullam pulvinar ac eros in euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dapibus nec enim eu rhoncus. Donec et nunc et turpis convallis tempor ut ut massa. Cras euismod, orci non ornare interdum, enim ante semper urna, eget vehicula nunc enim eu augue. Mauris id dui vel metus rutrum dignissim vel ac orci.

    Nunc semper libero enim, eu commodo risus scelerisque at. Vestibulum ipsum est, aliquet eget orci ut, interdum viverra tellus. Curabitur quis malesuada erat, at tristique dui. Aenean nec fringilla mauris. Pellentesque orci lorem, porttitor nec turpis et, euismod mattis nibh. Proin convallis risus lacinia, ornare enim sed, auctor odio. Vestibulum in varius nisi, vel dapibus eros. Nulla nec tortor eget est vestibulum fringilla nec et ex. In non sollicitudin tortor.

    Nullam sodales iaculis tellus, vel faucibus odio venenatis id. Ut nunc sapien, elementum id elementum eget, faucibus vel arcu. Praesent a porta velit. Integer suscipit purus sed lobortis cursus. Donec feugiat, arcu finibus ornare finibus, nibh ex dignissim urna, non finibus massa quam sit amet massa. Morbi a velit nisl. Praesent lectus massa, tincidunt ac eros nec, dignissim faucibus magna. Vivamus hendrerit, velit a ultricies hendrerit, tellus enim maximus libero, gravida vehicula quam neque quis erat.

    Donec aliquet convallis ex in egestas. Aenean ut tempus metus. Praesent sem eros, sollicitudin id neque vitae, consequat venenatis nibh. Nunc semper blandit ligula, a dapibus est iaculis lobortis. Mauris et tristique arcu. Donec sed rutrum nibh. Proin nec convallis dui. Mauris ipsum eros, pulvinar at gravida eu, accumsan eu lectus. Proin dui risus, scelerisque eu felis ac, fringilla sollicitudin dui. 
</p>