@model TCC_ALCINDO.Models.Cliente

@{
    ViewBag.Title = "Index";
}

<h4>Home</h4>
<p>
    Bem-vindo(a) ao sistema de PetShop. Aqui você pode se cadastrar, logar-se, cadastrar animais e marcar consultas para o mesmo.
</p>